<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Trains</title>

<h1><span class="blue">&lt;</span>Tågförseningar<span class="blue">&gt;</span> <span class="yellow">Uppsalapendeln</pan></h1>
        <h2>Listar SLs avgångar från nu och 60minuter framåt mellan Uppsala och Solna</h2>
        
        <table class="container">
                <thead>
                        <tr>
                                <th><h1>Tåg i tid?</h1></th>
                                <th><h1>Avång enligt tabell</h1></th>
                                <th><h1>Förväntad avgångstid</h1></th>
                                <th><h1>Avgångsort</h1></th>
                                <th><h1>Ankomstort</h1></th>
                                <th><h1>Avvikelse</h1></th>
                                <th><h1>Antal sekunder sen</h1></th>
                        </tr>
                </thead>
                <tbody>
                        {% for i in data %}
                                {% if i.TrainOnTime == "Yes" %}
                                        <td style="color:#0fee34">{{ i.TrainOnTime }}</td>
                                {% else %}
                                        <td>{{ i.TrainOnTime }}</td>
                                {% endif %}
                                        
                                        <td>{{ i.TimeTabledDateTime }}</td>
                                        <td>{{ i.ExpectedDepartureTime }}</td>
                                        <td>{{ i.StopAreaName }}</td>
                                        <td>{{ i.Destination }}</td>
                                        <td>{{ i.DeviationsText }}</td>
                                        <td>{{ i.TimeDifference }}</td>
                                </tr>
                        {% endfor %}

                </tbody>
        </table>